.box {
    width: 300px; /* Set width */
    height: 200px; /* Set height */
    padding: 20px; /* Inner spacing */
    border: 5px solid black; /* Border */
    margin: 10px; /* Outer spacing */
    background-color: lightgrey; /* Background color */
}